body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background-color: #F8C8DC;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 1px 1px 1px #b54c7d;
    letter-spacing: 1px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes_button{
    height: 40px;
    width: 95px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 22px;
    color: #b54c7d;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no_button{
    height: 40px;
    width: 95px;
    border: none;
    border-radius: 3px;
    margin-left: 150px;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 22px;
    color: #b54c7d;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.no_button:hover{
    color: #F8C8DC;
    background-color: #F8C8DC;
}

.yes_button:hover{
    font-size: 23px;
    background-color: #ffffff;
    box-shadow: 0.1px 0.1px 7px white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

